:root{
    --background-primary: #F4F5FB;
    --background-secondary:#FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    --inter:"Inter", sans-serif;
    --title: bold 24px/32px var(--inter);
    --label: 600 16px/20px var(--inter);
    --paragraph: 400 16px/20px var(--inter);
    --link: 400 14px/16px var(--inter);
    --sora: "Sora", sans-serif;
    --quicklist: 700 26px/40px var(--sora);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}

h1{
    font: var(--title)
}

header div h1{
    font: var(--quicklist);
    color: var(--content-secondary);

}
.header-container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    svg{
        width: 30px;
        height: 23px;
    }
}

body{
    background-color: var(--background-primary);
    width: 1366px;
    height: 768px;
}

.voltar{
    display: flex;
    width: 100%;
    margin-left: 365px;
    position: absolute;
    align-items: center;
    top: 127px;
    color: var(--color-brand);
    
    svg {
        color: var(--color-brand);
        margin-right: 5px;
    }
  
}

.titulo{
    font: var(--title);
    color: var(--content-primary);
    position: absolute;
    top: 159px;
    left: 365px;
}

.lista form{
    position: absolute;
    top: 235px;
    left: 369px;
}

.lista form input{
    color: var(--content-tertiary);
    border-radius: 12px;
    width: 451px;
    height: 44px;
    border: 1px solid var(--content-tertiary);
    margin-right: 16px;
}

.lista form input::placeholder{
    position: relative;
    left: 18px;
}

.lista form button{
    width: 160px;
    height: 44px;
    background-color: var(--color-brand);
    border-radius: 12px;
    color: white;
    font: var(--label);
    border: 1px solid var(--color-brand);
}