:root{
    --background-primary: #F4F5FB;
    --background-secondary:#FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    --inter:"Inter", sans-serif;
    --title: bold 24px/32px var(--inter);
    --label: 600 16px/20px var(--inter);
    --paragraph: 400 16px/20px var(--inter);
    --link: 400 14px/16px var(--inter);
    --sora: "Sora", sans-serif;
    --quicklist: 700 26px/40px var(--sora);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}

h1{
    font: var(--title)
}

header{
    
}

header div h1{
    font: var(--quicklist);
    color: var(--content-secondary);

}
.header-container{
    
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    svg{
        width: 30px;
        height: 23px;
    }
}

body{
    background-color: var(--background-primary);
    width: 100vw;
    height: 768px;
}

.voltar{
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    
    align-items: center;
    top: 127px;
    color: var(--color-brand);
    
    svg {
        color: var(--color-brand);
        margin-right: 5px;
    }
  
}

.titulo{
    font: var(--title);
    color: var(--content-primary);
  margin-bottom: 44px;
}

.lista{
    width: 100%;
}

.lista form{
    top: 235px;
    left: 369px;
}

.lista form input{
    color: var(--content-tertiary);
    border-radius: 12px;
    width: 451px;
    height: 44px;
    border: 1px solid var(--content-tertiary);
    margin-right: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow:visible;
}

.lista form input::placeholder{
    position: relative;
    left: 18px;
}

.lista form button{
    width: 160px;
    height: 44px;
    background-color: var(--color-brand);
    border-radius: 12px;
    color: white;
    font: var(--label);
    border: 1px solid var(--color-brand);
}

.lista form button:hover{
    cursor: pointer;
}



.itens{
    background-color: var(--background-primary);
    
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 12px;
    border-radius: 12px;
    div{
        display: flex;
        gap: 8.5px;
        color: var(--content-secondary);
        font: var(--paragraph);
        input[type="checkbox"]{

            width: 16px;
            height: 16px;
            border: 1px solid var(--border-primary);
            border-radius: 6px;
        }
    }
}

.item{
   background-color: white;
   margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  padding-left: 12px;
  padding-block: 16px;
   border-radius: 12px;
   width: 627px;
   height: 49px;

   p{
    align-self: center;
   }
}

.checado{
    position: relative;
}

.checado svg{
    position: absolute;
    left: 0;
    bottom: 0;
    top: -12px;
    width: 15px;
    height: 40px;

    path{
        color: white;
    }
}

.item  input[type="checkbox"] {
    appearance: none; /* Remove o estilo padrão do checkbox */
    width: 16px;
    height: 16px;
    border: 1px solid var(--border-primary); /* Borda vermelha */
    border-radius: 6px;
    background-color: white; /* Cor de fundo */
    cursor: pointer;
}

.item input[type="checkbox"]:hover{

    border: 1px solid var(--border-hover); 
}

.item input[type="checkbox"]:checked {
    background-color: var(--color-brand); /* Fundo vermelho quando marcado */
}



/* checkmark */
.item input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.deletar{
    align-self: right;
    position: absolute;
    right: 20px;
    width: 16px;
    height: 16px;
    bottom: 16px;
    cursor: pointer;
}

main{
    margin-top: 62px;
    padding-inline: 30vw;
    min-width: 679px;
}